<section class="article-author">
    <div class="col xx12 x3 s12">
        <div class="contact_show">
          <img src="<%- gravatar(theme.email1, 250) %>" alt="">
        </div>
        <div class="xx-hide s-show" id="social-icon">
            <a href="https://www.facebook.com/lu.dkbo">
                <i id="facebook" class="xx-p fleft fa fa-facebook"></i>
            </a>
            <a href="//codepen.io/dkbo">
                <i id="codepen" class="xx-p fleft fa fa-codepen"></i>
            </a>
            <a href="//dkbo.github.io">
                <i id="github" class="xx-p fleft fa fa-github"></i>
            </a>
        </div>
    </div>
    <div class="col xx12 x9 s12">
        <p class="author-description xx-ng">
            <%= theme.description1 %>
        </p>
    </div>
</section>
