<section class="author">
    <div class="col xx12 x6 s3 xx-ng">
        <div class="contact_show">
            <img src="<%- gravatar(email, 250) %>" alt="">
        </div>
        <div class="h4 name">
            <%= name %>
        </div>
    </div>
    <div class="col xx12 x6 s9 xx-ng">
        <p class="description xx-ng">
            <%= description %>
        </p>
    </div>
</section>
