<div class="row grid xx-hide s-show">
    <a href="#1">
        <div class="col s4 m2 box-box">
            <div class="box" data-view="1" title="哆啦A夢"><i class="fa fa-home"></i><span>哆啦A夢</span></div>
        </div>
    </a>
    <a href="#2">
        <div class="col s4 m2 box-box">
            <div class="box" data-view="2" title="日誌"><i class="fa fa-book"></i><span>日誌</span></div>
        </div>
    </a>
    <a href="#3">
        <div class="col s4 m2 box-box">
            <div class="box" data-view="3" title="影片紀錄"><i class="fa fa-video-camera"></i><span>影片紀錄</span></div>
        </div>
    </a>
    <a href="#4">
        <div class="col s4 m2 box-box">
            <div class="box" data-view="4" title="家庭成員"><i class="fa fa-pencil"></i><span>家庭成員</span></div>
        </div>
    </a>
    <a href="#5">
        <div class="col s4 m2 box-box">
            <div class="box" data-view="5" title="股票"><i class="fa fa-line-chart"></i><span>股票</span></div>
        </div>
    </a>
    <a href="#6">
        <div class="col s4 m2 box-box">
            <div class="box" data-view="6" title="地圖"><i class="fa fa-map-marker"></i><span>地圖</span></div>
        </div>
    </a>
</div>
<div class="x-bar s-hide">
    <a href="#1">
        <div class="col">
            <div class="xbox" data-view="1" title="哆啦A夢"><i class="fa fa-home"></i><span>哆啦A夢</span></div>
        </div>
    </a>
    <a href="#2">
        <div class="col">
            <div class="xbox" data-view="2" title="日誌"><i class="fa fa-book"></i><span>日誌</span></div>
        </div>
    </a>
    <a href="#3">
        <div class="col">
            <div class="xbox" data-view="3" title="影片紀錄"><i class="fa fa-video-camera"></i><span>影片紀錄</span></div>
        </div>
    </a>
    <a href="#4">
        <div class="col">
            <div class="xbox" data-view="4" title="家庭成員"><i class="fa fa-pencil"></i><span>家庭成員</span></div>
        </div>
    </a>
    <a href="#5">
        <div class="col">
            <div class="xbox" data-view="5" title="股票"><i class="fa fa-line-chart"></i><span>股票</span></div>
        </div>
    </a>
    <a href="#6">
        <div class="col">
            <div class="xbox" data-view="6" title="地圖"><i class="fa fa-map-marker"></i><span>地圖</span></div>
        </div>
    </a>
</div>
