<div class="p">暫停此功能</div>
<!--<div id="addstock">
<input type="text" name='addstock' placeholder='輸入股票代號' xx-webkit-speech />
<button><i class="fa fa-search" ></i></button>
<div  id="stockset"><i title="即時股市列表"  class="fa fa-refresh"></i><i title="點擊兩次重設股票列表" class="fa fa-remove"></i></div>
</div>
<div id="stock">
</div>
<div id="buysell">
</div>
<div class="footer">
	<p>資料來源<a href="http://www.twse.com.tw/">證券交易所網站</a>、<a href="http://www.otc.org.tw/">證券櫃檯買賣中心</a></p>
</div>!-->
